


<div class="container">
   <div class="row">
      <div class="col-md-12 text-center">
          <h1>contador</h1>
          <h2>{{ con }}</h2>
    
      </div>
   </div>
</div>

<div class="row">
   <div class="col-md-12 text-center">
      <button class="btn btn-primary mx-1" (click)="incrementar()">Incrementar</button>
      <button class="btn btn-secondary" (click)="decrementar()">Decrementar</button>
   </div>
</div>

<hr>

<app-hijo [contador]="con" (cambioContador)=" con = $event "></app-hijo>